<nz-content>
  <nz-header class="d-flex flex-column justify-content-center">
    <p class="title">Home</p>
    <p class="subTitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </nz-header>

  <section class="logoImage d-flex justify-content-center align-items-center">
    <img
      src="../../../assets/svgs/logo-empresa-grande.svg"
      alt="Logo Sistema Grande"
    />
  </section>
</nz-content>
