:root{
  --white: #FFFFFF;
  --black: #000000;

  --text-primary: #3C3E40;
  --text-secondary: #70737B;
  --text-light: #E6E6E6;

  --placeholder: #B3B3B3;
  --activeLink: #3CCDF5;

  --background-primary: #E4E4E4;
  --background-secondary: #021217;
  --background-home: #E9ECEF;
  --background-sidebar: #2B2C2D;
  --input-border-primary: #CCCCCC;

  --blue-primary: #077391;




}
