<main style="max-width: 100vw; max-heigth: 100vh">
  <app-header></app-header>
  <ng-container *ngIf="rota.url !== '/'">
    <nz-layout class="layoutContainer">
      <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo d-flex flex-row align-items-center">
          <span class="material-symbols-outlined iconUser">
            account_circle
          </span>
          <p class="">Fulano Lorem Ipsum</p>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
          <li nz-menu-item [routerLink]="['home']"
          routerLinkActive="router-link-active">
            <span nz-icon nzType="bank"></span>
            <span>Home</span>
          </li>
          <div class="divider"></div>
          <li nz-menu-item class="d-flex flex-row menu1" [routerLink]="['menu1']"
          routerLinkActive="router-link-active">
            <span class="material-symbols-outlined iconSidebar">
              assignment
            </span>
            <span>Menu 1</span>
          </li>
        </ul>
      </nz-sider>
      <nz-layout>
        <nz-header>
          <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"
          ></span>

          <img
            src="../../../assets/svgs/logo-sistema-home.svg"
            alt="Logo Sistema ABC"
          />
          <p>Sistema ABC</p>
        </nz-header>
          <router-outlet></router-outlet>
      </nz-layout>
    </nz-layout>
  </ng-container>

  <ng-container *ngIf="rota.url === '/'">
    <router-outlet></router-outlet>
  </ng-container>
</main>
